/*********************************************************************************/
/* BASE                                                                     */
/*********************************************************************************/
body	{
margin: 0;
padding: 0;
/* background: #161616; */
font-family: 'Roboto', sans-serif;
font-size: 12pt;
font-weight: 300;
line-height: 1.75em;
color: #777;
}
a	{
text-decoration: none;
color: #80BA8E;
}

a:hover	{
text-decoration: underline;
}

h1,h2,h3,h4,h5,h6	{
font-weight: 300;
color: #777;
}
footer	{
margin-top: 1em;
}
.align-center {
text-align: center;
align-content: center;
align-items: center;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
background: rgb(255, 255, 255);
cursor: default;
height: 5.3em;
left: 0;
text-align: left;
width: 100%;
z-index: 10001;
text-anchor: middle;
position: sticky;
}

#header h2{
    text-align: center;
}
#header.alt {
animation: none;
background-color: #fff;
box-shadow: none;
overflow: hidden;
position: fixed;
height: 5.3em;
}

#banner {
padding: 8em 0 6em 0;
align-items: center;
display: flex;
justify-content: center;
background-image: url("images/overlay.png"), url("../images/banner.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-top: 0;
min-height: 100vh;
height: 100vh !important;
position: relative;
text-align: center;
overflow: hidden;
color: white;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; }}

.fade-in {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.7s;            
}

@keyframes translateY { from { y:0px; } to { y:100px; } }
.translate-y {
  animation:translateY ease-in 1;
  animation-duration:0.1s;
  animation-fill-mode:forwards;
}
/*********************************************************************************/
/* Banner                                                                          */
/*********************************************************************************/
#banner h1{
font-size: 5em;
font-size-adjust: revert;
font-weight: 700;
color: whitesmoke;
line-height: 2em;
}
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#header > .logo {
display: inline-block;
height: inherit;
left: 0;
margin: 0;
padding: 0;
position: absolute;
top: 0;
}
#header > .logo img {
height: 100%;
display: block;
}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
nav{
position:fixed;
left:0;right:0;top:0;
background:#ffffff00;
box-shadow:0 0px 9px 4px rgba(#000, .1), 0 -5px 2px 2px rgba(#000, .1);
z-index:1000;
min-width:580px;
height: -33px;
padding-bottom: 10px;
/*********************************************************************************/
/* Nav     Dropdown Menu                                                          */
/*********************************************************************************/
.links{
float:right;
margin-right: -29px;    
position:relative;

li{
list-style:none;
position:relative;
/*! margin:-2px; */
display:inline-block;      

&>a{
position:relative;
display:inline-block;            
padding:0 10px;
line-height:30px;
height:30px;        

&:hover{
color:#fff;
background:lightgreen;
border-radius:2px;
}

&[class^="trigger-"]{padding-right:76px;}

.arrow{
position:absolute;
&:after{            
position:absolute;            
}

}

}

ul{
position:absolute;          
/* left:1ex; 
top:30px; */
margin:0;
background:#fff;
border-radius:2px;          
box-shadow:0 0 5px rgba(#000, .15);
display:none;

>li{
clear:both;            
list-style:none;            
display:block;
padding:auto auto;
margin:0;
width:auto;            

&:hover{
>a{
background:lighten(lightgreen,40);
color:#fff;
}
}
}         

}

&:hover {
> .drop{
display:block;
animation:fadeInRight .7s ease;
}
}

}
margin-bottom: -28px;
height: 10em;
line-height: 1.8em;
font-size: 19pt;
}
}
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

*, ::before, ::after {
box-sizing: border-box;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/


.footer #button{
width:35px;
height:35px;
border: #727172 12px solid;
border-radius:35px;
margin:0 auto;
position:relative;
transition: all 1s ease;
}
.footer #button:hover{
width:35px;
height:35px;
border: #3A3A3A 12px solid;
transition: all 1s ease;
position:relative;
}
.footer {
bottom:0;
left:0;
position:fixed;
width: 100%;
height: 2.5em;
overflow:hidden;
margin:0 auto;
transition: all 1s ease;
z-index:999;
}
.footer:hover {
transition: all 1s ease;
height: 12.5em;
}
.footer #container{
margin-top:5px;
width:100%;
height:100%;
position:relative;
top:0;
left:0;
background: #3A3A3A;
}
.footer #cont{
position:relative;
top:-45px;
right:190px;
width:150px;
height:auto;
margin:0 auto;
}
.footer_center{
width:500px;
float:left;
text-align:center;
}
.footer h3{
font-family: 'Helvetica';
font-size: 30px;
font-weight: 100;
margin-top:70px;
margin-left:40px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
position: relative;
text-align: center;
color: #774535;
}

#copyright .container
{
padding: 3em 0em;
border-top: 1px solid;
border-color: rgba(255,255,255,.05);
color:  rgba(255,255,255,.1);
}

#copyright a
{
text-decoration: none;
color:  rgba(255,255,255,.2);
}
.copyright{
width: 100%;
text-align: center;
margin:15px;
li{
list-style:none;
position:relative;
/*! margin:-2px; */
display:inline-block; 
}
a {
color: blue !important;
font-weight: 250 !important;
}
}

/*********************************************************************************/
/* EXTRAS                                                                     */
/*********************************************************************************/

.terminal-container {
        max-width: 400px;
    margin: auto auto;
    text-align: left;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display:inline-flex;
}

.terminal-container figure > img {
  float:right;
  width: 16px;
  height: 16px;

}

.terminal-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #4CAF50;
}

.terminal-container button {
    padding: 10px 20px;
    background-color: black
    color: #4CAF50;
    border: none;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    color: #4CAF50;
    ;
}

